
<header>
    <div class="inline">
      <p>TTC Grün-Weiß 1954 Schladern e.V.</p>
      <p>Herzlich Willkommen</p>
    </div>
    <nav>
      <ul>
        <li><a href="../index.html" class="ajax-link">Startseite</a>
          <ul class="dropdown-content dropdown-list">

          <li class="list-content"><a href="../pages/training.html" class="ajax-link">Training</a></li>
          <li class="list-content"><a href="../pages/beitritt.html" class="ajax-link">Beitritt</a></li>
          <li class="list-content"><a href="../pages/befreundete_vereine.html" class="ajax-link">Befreundete Vereine</a></li>
          <li class="list-content"><a href="../pages/historie.html" class="ajax-link">Historie</a></li>

          <li class="list-content"><a href="../pages/impressum.html" class="ajax-link">Impressum</a></li>

      </ul></li>

        <li><a href="#">Aktuelles</a></li>
        <li><a href="#">Mannschaften</a></li>
        <li><a href="../pages/vorstand.html" class="ajax-link">Vorstand</a></li>
        <li><a href="../pages/kontakt.html" class="ajax-link">Kontakt</a></li>
      </ul>
    </nav>
    <script src="javaScript/script.js"></script>
  </header>
